<link rel="stylesheet" type="text/css" media="all" href="path/to/960/reset.css" />
 <link rel="stylesheet" type="text/css" media="all" href="path/to/960/960.css" />
 <link rel="stylesheet" type="text/css" media="all" href="path/to/960/text.css" />


img{
				
}


<style type="text/css">
  #header{
       /*background-color:red;*/
   }
  #globallbar{
    width:860px;
    font-size:25px;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    line-height:30px;
    background-color:silver;
  }


p img {
	float:right;
	margin-right:10px;
	border:solid 2px gray;
	padding:5px;
	width:300px;
}
 #content{
     width:860px;
      background-color:write;
      font-size: 17px;
      font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
      line-height: 2em;
      color: #666;
      padding: 30px;
 }



  #content2{
      width:860px;
      background-color:rgb(214, 237, 241);
      font-size: 17px;
      font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
      line-height: 2em;
      color: #666;
      padding: 30px;
  }



</strle>
